#library-slider {
  width: 500%;
  padding-bottom: 4rem;
  display: flex;
  transition: margin-left 1s ease;
}

#library-nav {
  width: calc(100% - 200px);
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  color: #ffffff;
  padding: 10px 5px;
  height: 80px;
  align-items: center;
  margin-left: 200px;
}

#library-menu ul {
  list-style: none;
  display: flex;
  align-items: center;
}

#library-menu ul li {
  color: #ffffff;
  margin: 2px 5px;
  padding: 4px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 10px;
}

.underline {
  content: "";
  width: 0;
  height: 0;
  border-radius: 50%;
  transition: width 0.5s ease;
}

#library-menu ul li:hover > .underline {
  width: 100%;
  height: 1px;
  border: #1db954 solid 1px;
}

/* PLAYLIST-------------------------------------------------------------------------------------------------------- */

.library-page {
  color: #ffffff;
  width: 25%;
  padding: 20px;
  padding-top: 80px;
  padding-left: 220px;
}

.library-page .row {
  width: 100%;
  margin: 0;
  height: 40vh;
}

#playlist-fav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 25px;
  background: linear-gradient(
    90deg,
    rgba(254, 209, 255, 1) 0%,
    rgba(223, 74, 230, 1) 100%
  );
  border-radius: 20px;
  color: #040404;
}

.playlist-card {
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  background-color: #181818;
  padding: 10px;
}

.playlist-card:hover {
  background-color: #252525;
  animation: bouncing-card 1s infinite, shining-card 1s infinite;
}

.playlist-card-img {
  height: 70%;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.library-play-button {
  display: flex;
  border-radius: 50%;
  background-color: #1db954;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -30px;
  right: 5px;
  opacity: 0;
  color: #ffffff;
  box-shadow: 5px #040404;
}

div:hover > .library-play-button {
  bottom: 5px;
  opacity: 1;
  transition: bottom 0.5s ease, opacity 1s ease;
}

/* PODCAST-------------------------------------------------------------------------------------------------------- */

#podcast {
  text-align: center;
}

#podcast input {
  padding: 10px;
  background-color: #ffffff;
  border-radius: 25px;
  border: none;
  font-weight: 600;
}

/* LIBRARY ALBUM-------------------------------------------------------------------------------------------------------- */

.library-card-album {
  padding: 10px;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #181818;
  border-radius: 20px;
}

.library-card-album:hover {
  background-color: #252525;
  animation: shining-card 1s infinite;
}

.library-card-album .img-library-album {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin-bottom: 5px;
}

.library-card-album a {
  text-decoration: none;
  color: #ffffff;
}
